<header class="header">
  <nav class="navbar navbar-default container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="images/logo.png" width="60">
          <p>WinjiContent</p>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <i class="fas fa-th-list"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-user-circle"></i>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-center">
          <li>
            <a href="#">How it works
            </a>
          </li>
          <li>
            <a href="#">Explore</a>
          </li>
          <li class="active">
            <a href="#">My Contests</a>
          </li>
          <li>
            <a href="#">My Pins</a>
          </li>
          <li>
            <button data-toggle="modal" data-target="#createModal" class="btn btn-pink">
              <i class="fas fa-plus"></i>Create
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="course-details">
  <div class="row mar-rzero">
    <div class="col-sm-7">
      <div class="course-title bg-fade">
        <h2>
          Creative Math Contest
        </h2>
      </div>
      <div class="course-desc bg-fade2">
        <h5>
          This Contest is about bla bla bla bla, bla bla This Contest is about bla bla bla bla, bla bla
        </h5>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="course-publish">
        <button class="btn btn-publish">
          <i class="fas fa-rocket"></i> PUBLISH
        </button>
        <button class="btn btn-more">
          <i class="fas fa-ellipsis-h"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="one-line-det">
    <div class="inner-item border-rw">
      <img src="images/compare.png" width="30" alt="compare">
      Default theme
    </div>
    <div class="inner-item border-rw">
      <img src="images/compare.png" width="30" alt="compare2">
      32 Players
    </div>
    <div class="inner-item border-rw">
      <img src="images/compare.png" width="30" alt="compare3">
      12 Questions
    </div>
    <div class="inner-item">
      <img src="images/compare.png" width="30" alt="compare4">
      4 Courses
    </div>
  </div>
</section>

<section class="questions-list">
  <div class="container">
    <form class="form-inline search-form">
      <div class="form-group has-feedback">
        <input type="text" ng-model="searchQuestion" class="form-control" id="inputSuccess4">
        <i class="fas fa-search"></i>
      </div>
    </form>
    <div class="cards-list m-top-20">
      <div class="question-card row zer-mar"
        ng-repeat="question in questions | filter:searchQuestionFilter track by $index"
        ng-class="{'active': question.active}">
        <div class="col-md-1 col-xs-2 question-no">
          <h2 class="text-center">
            Q.{{$index + 1}}
          </h2>
          <img src="images/rotate.png" width="55" class="center" alt="rotate">
        </div>
        <div class="col-md-11 col-xs-10 question-details">
          <h3>
            {{question.title}}
          </h3>
          <div class="lower-card">
            <div class="border-right">
              {{question.Difficulty}}
            </div>
            <div>
              {{question.Scores}} scores
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<nav class="btns-container">

  <a href="#" class="buttons" tooltip="Icon1"></a>

  <a href="#" class="buttons" tooltip="Icon2"></a>

  <a href="#" class="buttons" tooltip="Icon3"></a>

  <a href="#" class="buttons" tooltip="Icon4"></a>

  <a class="buttons" tooltip="Share" href="#"></a>

</nav>

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section>
          <div>
            <h3 class="text-center">Choose question type</h3>
            <p class="text-center">Enjoy adding from variety of question types or even import from your question banks
            </p>
          </div>
          <div class="center m-top-20">
            <div class="mcq-ques" ng-class="{'active':mcq}" ng-click="mcq = true; boolq=false">
              <i class="fas fa-check-double center"></i>
              <h4 class="text-center">MCQ</h4>
            </div>
            <div class="bool-ques" ng-class="{'active':boolq}" ng-click="mcq = false; boolq=true">
              <i class="fas fa-check-double center"></i>
              <h4 class="text-center">True/False</h4>
            </div>
          </div>
        </section>

        <section class="question-part">
          <form class="question-form" ng-show="mcq">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Question" ng-model="questionmcq.title" id="mcqtitle">
            </div>
            <div class="form-group choices">
              <p>Choices</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="choice" id="choice1" value="one" checked>
                <label class="form-check-label" for="choice1">
                  <input type="text" class="form-control" placeholder="First Choice" ng-model="choice1">
                </label>
              </div>
              <div class="form-check margin-top10">
                <input class="form-check-input" type="radio" name="choice" id="choice2" value="two">
                <label class="form-check-label" for="choice2">
                  <input type="text" class="form-control" placeholder="Second Choice" ng-model="choice2">
                </label>
              </div>
            </div>
            <div class="form-group">
              <p>Hard</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" ng-model="questionmcq.Difficulty" name="Questiondiff"
                  id="Questiondiff1" value="Hard">
                <label class="form-check-label" for="Questiondiff1">
                  Hard
                </label>
              </div>
              <div class="form-check margin-left20">
                <input class="form-check-input" type="radio" ng-model="questionmcq.Difficulty" name="Questiondiff"
                  id="Questiondiff2" value="Easy">
                <label class="form-check-label" for="Questiondiff2">
                  Easy
                </label>
              </div>
            </div>
          </form>

          <form class="question-form" ng-show="boolq">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="questionbool.title" placeholder="Question"
                id="booltitle">
            </div>
            <div class="form-group answers m-top-20">
              <p>Answers</p>
              <div class="form-check m-top-20">
                <input class="form-check-input" type="radio" name="boolean" id="truechoice" value="true">
                <label class="form-check-label" for="truechoice">
                  True
                </label>
              </div>
              <div class="form-check m-top-20">
                <input class="form-check-input" type="radio" name="boolean" id="falsechoice" value="false">
                <label class="form-check-label" for="falsechoice">
                  False
                </label>
              </div>
            </div>
          </form>
        </section>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-purble" ng-click="AddQuestion()" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>